/TP2/ContactManagerApplication/nbproject/private/
/TP2/ContactManagerApplication/build/
/TP2/ContactManagerApplication/ContactManagerUIModule/build/
/TP2/ContactManagerApplication/ContactManagerDataModule/build/
/TP2/ContactManagerApplication/ContactManagerUIModule/nbproject/private/
/TP2/ContactManager/nbproject/private/
/TP1/ContactManager/nbproject/private/
/TP1/ContactManager/build/
/TP1/ContactManager/dist/